<div class="container jumbotron">
    <h1>You're on Gazooyr !</h1>
    <p><i>Le twitter qu'il est vachement plus mieux</i></p>
    <div class="row well">
        <div class="col-md-8">
            Tendances
        </div>
        <div class="col-md-4">
          Les derniers gazooies
        </div>
    </div>
</div>
